body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(174,179,155);
  background: radial-gradient(circle, rgba(174,179,155,1) 26%, rgba(255,255,255,1) 80%); */
  /* background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(241,240,229,1) 50%, rgba(255,255,255,1) 100%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:hover {
  text-decoration: none;
  color: white;
}

li {
  padding-right: 40px !important;
}

.mangaList {
  display: flex;
}

.manga-li {
  cursor: pointer;
  margin-top: 5px;
}

.homeText {
  padding-left: 40px;
  padding-top: 5px;
}

.homeImage {
  max-width: 269px;
  /* max-height: 290px; */
  max-height: 200px;
  border-radius: 3px;
  opacity: 1;
}

.card-text {
  padding-top: 10px;
}

.chainsawImg {
  width: 100%;
}

#animeBanner {
  border-radius: 4;
}

#title {
  text-align: center;
}

.mangaNav {
  font-size: 1.2em;
  padding-right: 15px;
}