body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(174,179,155);
  background: radial-gradient(circle, rgba(174,179,155,1) 0%, rgba(255,255,255,1) 50%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:hover {
  text-decoration: none;
  color: white;
}

li {
  padding-right: 40px !important;
}

.mangaList {
  display: flex;
}

.list-main
{
  margin-top: 10px;
}

.manga-li {
  cursor: pointer;
  margin-top: 5px;
}

.homeText {
  padding-left: 40px;
  padding-top: 15px;
}

.homeImage {
  max-width: 269px;
  /* max-height: 290px; */
  max-height: 180px;
  border-radius: 3px;
}

.card-text {
  padding-top: 5px;
}